/* common shared style */
body {
	font-family: "Inter", sans-serif;
}

.font-merriweather {
	font-family: "Merriweather", serif;
}

.max-width {
	width: 1320px;
	margin: 0 auto;
}

/* banner section */
.banner-container {
	position: relative;
	border-radius: 16px;
	margin-top: 50px;
	margin-bottom: 120px;
}

.banner-background {
	background-image: url("../resources/Banner\ Image.png");
	height: 600px;
	filter: brightness(60%);
}

.banner-content {
	position: absolute;
	text-align: center;
	top: 0;
	height: 600px;
	width: 1320px;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

.title-secondary {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 0;
}

.title-primary {
	font-size: 72px;
	font-weight: 900;
	margin-top: 16px;
}
